<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.pdm.benztrack">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BenzTrack">
        <activity
            android:name=".AddTaxActivity"
            android:exported="false" />
        <activity
            android:name=".AddMaintenanceActivity"
            android:exported="false" />
        <activity
            android:name=".AddInsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".AddRefuelActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SelectCarEuroCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".SelectCarFuelTypeActivity"
            android:exported="false" />
        <activity
            android:name=".SelectCarModelActivity"
            android:exported="false" />
        <activity
            android:name=".SelectCarBrandActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>