<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.nicolasguarini.benztrack">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BenzTrack">
        <activity
            android:name="it.nicolasguarini.benztrack.UserActivity"
            android:exported="false" />

        <receiver android:name="it.nicolasguarini.benztrack.NotificationReceiver" />

        <activity
            android:name="it.nicolasguarini.benztrack.SingleExpenseActivity"
            android:exported="false" />
        <activity
            android:name="it.nicolasguarini.benztrack.AddExpenseActivity"
            android:exported="false" />
        <activity
            android:name="it.nicolasguarini.benztrack.DashboardActivity"
            android:exported="false" />
        <activity
            android:name="it.nicolasguarini.benztrack.SelectCarEuroCategoryActivity"
            android:exported="false" />
        <activity
            android:name="it.nicolasguarini.benztrack.SelectCarFuelTypeActivity"
            android:exported="false" />
        <activity
            android:name="it.nicolasguarini.benztrack.SelectCarModelActivity"
            android:exported="false" />
        <activity
            android:name="it.nicolasguarini.benztrack.SelectCarBrandActivity"
            android:exported="false" />
        <activity
            android:name="it.nicolasguarini.benztrack.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name="it.nicolasguarini.benztrack.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>